<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="assets/images/oshit.png">
    <title>OSHIT SUTRADAR</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,800%7COpen+Sans:400,400i,700"
        rel="stylesheet">

    <!-- Styles -->
    <link href="assets/css/frontend.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">

        <div class="container-fluid">
            <div class="row no-gutters v-full">
                <div id="left-wrapper" class="col-12 col-lg-8">
                    <div id="contact" class="main-content">
                        <!-- Close Button Starts -->
                        <a href="/" class="close-menu-link">
                            <i class="close-button fas fa-home fa-2x"></i>
                        </a>
                        <!-- Close Button Ends -->
                        <!-- Content Hanging On Contact Section Starts -->
                        <div class="hanging">
                            <div id="logo-hanging"></div>

                            <div class="text-hanging">
                                <div class="word">
                                    <h6>
                                        CONTACT <span>ME</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <!-- Content Hanging On Contact Section Ends -->


                        <!-- Inner Content Starts -->
                        <div class="inner-content" v-if="!$root.spineer">
                            <!-- Head Content Starts -->
                            <div class="head-content head-content2">
                                <h3>
                                    Contact <span>Me</span>
                                </h3>
                            </div>
                            <!-- Head Content Ends -->
                            <!-- Content Starts -->
                            <div class="content">
                                <!-- Contact Info Starts -->
                                <div id="contact-info">
                                    <!-- Contact Info Heading Starts -->
                                    <h5>Contact Info</h5>
                                    <!-- Contact Info Heading Ends -->
                                    <div class="row no-gutters">
                                        <!-- List Contact Info Starts -->
                                        <div class="list-contact-info col-12">
                                            <ul class="row no-gutters">
                                                <!-- Single Contact Info Starts -->
                                                <li class="col-sm-6 col-12">
                                                    <span class="contact-info-name">Email</span>
                                                    <span class="icon-of-value">
                                                        <i class="fas fa-envelope"></i>
                                                    </span>
                                                    <span class="value">sd.oshit@gmail.com</span>
                                                    <br />
                                                    <span class="icon-of-value">
                                                        <i class="fas fa-envelope"></i>
                                                    </span>
                                                    <span class="value">oshitsd99@gmail.com</span>
                                                </li>
                                                <!-- Single Contact Info Ends -->
                                                <!-- Single Contact Info Starts -->
                                                <li class="col-sm-6 col-12">
                                                    <span class="contact-info-name">Mobile</span>
                                                    <span class="icon-of-value">
                                                        <i class="fas fa-mobile-alt"></i>
                                                    </span>
                                                    <span class="value">01883847733</span>
                                                </li>
                                                <!-- Single Contact Info Ends -->
                                                <!-- Single Contact Info Starts -->
                                                <li class="col-sm-6 col-12">
                                                    <span class="contact-info-name">Website</span>
                                                    <span class="icon-of-value">
                                                        <i class="fas fa-globe"></i>
                                                    </span>
                                                    <span class="value">https://oshit-sd.github.io</span>
                                                </li>
                                                <!-- Single Contact Info Ends -->
                                                <!-- Single Contact Info Starts -->
                                                <li class="col-sm-6 col-12">
                                                    <span class="contact-info-name">Address</span>
                                                    <span class="icon-of-value">
                                                        <i class="fas fa-map-marker-alt"></i>
                                                    </span>
                                                    <span class="value">Azampur, Uttara, Dhaka</span>
                                                </li>
                                                <!-- Single Contact Info Ends -->
                                                <!-- Single Contact Info Starts -->
                                                <li class="col-12">
                                                    <span class="contact-info-name">Social Media</span>
                                                    <ul class="social-media">
                                                        <!-- Single Social Media Starts -->
                                                        <li v-if="datas.data.config">
                                                            <a href="https://www.facebook.com/oshitsb" target="_blank">
                                                                <span class="front">
                                                                    <i class="fab fa-facebook-f"></i>
                                                                </span>
                                                                <span class="back">
                                                                    <i class="fab fa-facebook-f"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <!-- Single Social Media Ends -->
                                                        <!-- Single Social Media Starts -->
                                                        <li v-if="datas.data.config">
                                                            <a href="https://github.com/oshit-sd" target="_blank">
                                                                <span class="front">
                                                                    <i class="fab fa-github"></i>
                                                                </span>
                                                                <span class="back">
                                                                    <i class="fab fa-github"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <!-- Single Social Media Ends -->
                                                        <!-- Single Social Media Starts -->
                                                        <li v-if="datas.data.config">
                                                            <a href="https://www.linkedin.com/in/oshitsd"
                                                                target="_blank">
                                                                <span class="front">
                                                                    <i class="fab fa-linkedin-in"></i>
                                                                </span>
                                                                <span class="back">
                                                                    <i class="fab fa-linkedin-in"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <!-- Single Social Media Ends -->
                                                    </ul>
                                                </li>
                                                <!-- Single Contact Info Ends -->
                                            </ul>
                                        </div>
                                        <!-- List Contact Info Ends -->
                                    </div>
                                </div>
                                <!-- Contact Info Ends -->
                            </div>
                            <!-- Content Ends -->
                        </div>
                        <!-- Inner Content Ends -->
                    </div>
                </div>

                <div class="col-lg-4">
                    <img class="lg-profile-picture" src="assets/images/myphoto.jpeg" alt />
                </div>
            </div>
        </div>
    </div>

    <!-- JS Files -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>