<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="assets/images/oshit.png">
    <title>OSHIT SUTRADAR</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,800%7COpen+Sans:400,400i,700"
        rel="stylesheet">

    <!-- Styles -->
    <link href="assets/css/frontend.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">

        <div class="container-fluid">
            <div class="row no-gutters v-full">
                <div id="left-wrapper" class="col-12 col-lg-8">
                    <div id="contact" class="main-content">
                        <!-- Close Button Starts -->
                        <a href="index.html" class="close-menu-link">
                            <i class="close-button fas fa-home fa-2x"></i>
                        </a>
                        <!-- Close Button Ends -->
                        <!-- Content Hanging On Contact Section Starts -->
                        <div class="hanging">
                            <div id="logo-hanging"></div>

                            <div class="text-hanging">
                                <div class="word">
                                    <h6>
                                        CONTACT <span>ME</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <!-- Content Hanging On Contact Section Ends -->


                        <!-- Inner Content Starts -->
                        <div class="inner-content" v-if="!$root.spineer">
                            <!-- Head Content Starts -->
                            <div class="head-content head-content2">
                                <h3>
                                    Contact <span>Me</span>
                                </h3>
                            </div>
                            <!-- Head Content Ends -->
                            <!-- Content Starts -->
                            <div class="content">
                                <!-- Contact Info Starts -->
                                <div id="contact-info">
                                    <!-- Contact Info Heading Starts -->
                                    <h5>Contact Info</h5>
                                    <!-- Contact Info Heading Ends -->
                                    <div class="row no-gutters">
                                        <!-- List Contact Info Starts -->
                                        <div class="list-contact-info col-12">
                                            <ul class="row no-gutters">
                                                <!-- Single Contact Info Starts -->
                                                <li class="col-sm-6 col-12">
                                                    <span class="contact-info-name">Email</span>
                                                    <span class="icon-of-value">
                                                        <i class="fas fa-envelope"></i>
                                                    </span>
                                                    <span class="value" v-if="datas.data.cv">{{ datas.data.cv.email1
                                                        }}</span>
                                                    <br />
                                                    <span class="icon-of-value">
                                                        <i class="fas fa-envelope"></i>
                                                    </span>
                                                    <span class="value" v-if="datas.data.cv">{{ datas.data.cv.email2
                                                        }}</span>
                                                </li>
                                                <!-- Single Contact Info Ends -->
                                                <!-- Single Contact Info Starts -->
                                                <li class="col-sm-6 col-12">
                                                    <span class="contact-info-name">Mobile</span>
                                                    <span class="icon-of-value">
                                                        <i class="fas fa-mobile-alt"></i>
                                                    </span>
                                                    <span class="value" v-if="datas.data.cv">{{ datas.data.cv.mobile1
                                                        }}</span>
                                                    <br />
                                                    <span class="icon-of-value">
                                                        <i class="fas fa-mobile-alt"></i>
                                                    </span>
                                                    <span class="value" v-if="datas.data.cv">{{ datas.data.cv.mobile2
                                                        }}</span>
                                                </li>
                                                <!-- Single Contact Info Ends -->
                                                <!-- Single Contact Info Starts -->
                                                <li class="col-sm-6 col-12">
                                                    <span class="contact-info-name">Website</span>
                                                    <span class="icon-of-value">
                                                        <i class="fas fa-globe"></i>
                                                    </span>
                                                    <span class="value">http://oshit.xyz</span>
                                                </li>
                                                <!-- Single Contact Info Ends -->
                                                <!-- Single Contact Info Starts -->
                                                <li class="col-sm-6 col-12">
                                                    <span class="contact-info-name">Address</span>
                                                    <span class="icon-of-value">
                                                        <i class="fas fa-map-marker-alt"></i>
                                                    </span>
                                                    <span class="value" v-if="datas.data.cv">{{ datas.data.cv.address
                                                        }}</span>
                                                </li>
                                                <!-- Single Contact Info Ends -->
                                                <!-- Single Contact Info Starts -->
                                                <li class="col-12">
                                                    <span class="contact-info-name">Social Media</span>
                                                    <ul class="social-media">
                                                        <!-- Single Social Media Starts -->
                                                        <li v-if="datas.data.config">
                                                            <a :href="datas.data.config.fb_url" target="_blank">
                                                                <span class="front">
                                                                    <i class="fab fa-facebook-f"></i>
                                                                </span>
                                                                <span class="back">
                                                                    <i class="fab fa-facebook-f"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <!-- Single Social Media Ends -->
                                                        <!-- Single Social Media Starts -->
                                                        <li v-if="datas.data.config">
                                                            <a :href="datas.data.config.gh_link" target="_blank">
                                                                <span class="front">
                                                                    <i class="fab fa-github"></i>
                                                                </span>
                                                                <span class="back">
                                                                    <i class="fab fa-github"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <!-- Single Social Media Ends -->
                                                        <!-- Single Social Media Starts -->
                                                        <li v-if="datas.data.config">
                                                            <a :href="datas.data.config.in_link" target="_blank">
                                                                <span class="front">
                                                                    <i class="fab fa-linkedin-in"></i>
                                                                </span>
                                                                <span class="back">
                                                                    <i class="fab fa-linkedin-in"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <!-- Single Social Media Ends -->
                                                    </ul>
                                                </li>
                                                <!-- Single Contact Info Ends -->
                                            </ul>
                                        </div>
                                        <!-- List Contact Info Ends -->
                                    </div>
                                </div>
                                <!-- Contact Info Ends -->
                                <!-- Contact Form Starts -->
                                <div id="contact-form">
                                    <!-- Contact Form Heading Starts -->
                                    <h5>Contact Me</h5>
                                    <!-- Contact Form Heading Ends -->
                                    <div class="row no-gutters">
                                        <!-- Note Starts -->
                                        <div class="note col-lg-9 col-md-9 col-12">
                                            <!-- Single Paragraph Starts -->
                                            <p>I m active in 24 hours a day. Hire me to the contact bellow</p>
                                            <!-- Single Paragraph Ends -->
                                        </div>
                                        <!-- Note Ends -->
                                        <!-- Alert/Contact Message Starts -->
                                        <div class="alert contact-msg col-lg-9 col-md-9 col-12"></div>
                                        <!-- Alert/Contact Message Ends -->
                                        <!-- Form Wrapper Starts -->
                                        <div class="form-wrapper col-lg-9 col-md-9 col-12">
                                            <div v-if="spinner"
                                                class="row d-flex align-items-center justify-content-center"
                                                style="height:250px;">
                                                <div
                                                    class="card-body d-flex align-items-center justify-content-center flex-column">
                                                    <i class="fa fa-spinner fa-spin"
                                                        style="font-size:24px;color: rgb(0, 127, 62);"></i>
                                                    <span class="processing">processing</span>
                                                </div>
                                            </div>
                                            <form v-if="!spinner" v-on:submit.prevent="submit" class="contact">
                                                <div class="form-group clearfix">
                                                    <div class="inner-form-group">
                                                        <input
                                                            :class="{ 'invalid': validation.hasError('data.name'), 'valid': data.name }"
                                                            type="text" v-model="data.name" placeholder="Name"
                                                            class="form-control help-block" autocomplete="off" />
                                                    </div>
                                                    <div class="inner-form-group">
                                                        <input
                                                            :class="{ 'invalid': validation.hasError('data.email'), 'valid': data.email }"
                                                            type="email" v-model="data.email" placeholder="Email"
                                                            class="form-control" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input
                                                        :class="{ 'invalid': validation.hasError('data.subject'), 'valid': data.subject }"
                                                        type="text" v-model="data.subject" placeholder="Subject"
                                                        class="form-control" autocomplete="off" />
                                                </div>
                                                <div class="form-group">
                                                    <textarea
                                                        :class="{ 'invalid': validation.hasError('data.message'), 'valid': data.message }"
                                                        v-model="data.message" placeholder="Message"
                                                        class="form-control" autocomplete="off"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit">
                                                        <span class="front">
                                                            <i class="fas fa-paper-plane"></i>
                                                            <span class="value">
                                                                Send
                                                                <span>Message</span>
                                                            </span>
                                                        </span>
                                                        <span class="back">
                                                            <i class="fas fa-paper-plane"></i>
                                                            <span class="value">
                                                                Send
                                                                <span>Message</span>
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Form Wrapper Ends -->
                                    </div>
                                </div>
                                <!-- Contact Form Ends -->
                            </div>
                            <!-- Content Ends -->
                        </div>
                        <!-- Inner Content Ends -->
                    </div>
                </div>

                <div class="col-lg-4">
                    <img class="lg-profile-picture" src="assets/images/myphoto.jpeg" alt />
                </div>
            </div>
        </div>
    </div>

    <!-- JS Files -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>